nav(aria-label='Navigation')
  button(aria-expanded='false')
    span Menu
  div
    ul
      li
        a(href='#welcome-section' title='Back to Top') Home
      li
        a(href='#work') My Work
      li
        a(href='#about') About Me
      li
        a(href='#projects') Latest Projects
      li
        a(href='#contact') Contact Me